* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    gap: 232.5px;
    padding-top: 21.84px;
    padding-bottom: 21.84px;
    margin: 0 165px;

}

.list-ul {
    display: flex;
    list-style-type: none;
    gap: 60px;
}



.list-icons {
    display: flex;
    list-style-type: none;
    gap: 24px;
}
.collection-section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    margin: 0 165px;
}
.collection{
    width: calc((100% - 90px)/4);
    text-align: center;
}
img{
    width: 100%;
}
h2{
    margin-top: 23px;
}